<h1>CodeShare</h1>
<h3>Collaborative Software Editing</h3>

<div id="editor" ui-ace="{
    useWrapMode : true,
    showGutter: true,
    theme:'solarized_dark',
    mode: 'java',
    onLoad: aceLoaded,
    onChange: aceChanged
}" style="height: 200px">

</div>
<script>
    var editor = ace.edit("editor");
    sharejs.open('hello', 'text', function(error, doc) {
        if (error) {
            console.log("error loading document: ", error);
        } else {
            doc.attach_ace(editor);
        }
    });
</script>

